<template>
    <div id="main">
        <header id="header">
            <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
                <div class="container">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link :to="{name: 'register'}" class="navbar-brand">Register</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{name: 'list'}" class="navbar-brand">List</router-link>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="content">
            <router-view></router-view>
        </div>
    </div>
</template>
