<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-body">
                <h3>Register</h3>
                <div class="alert alert-danger" v-if="has_error && !success">Some fields are empty</div>
                <div class="alert alert-success" v-if="success">Welcome to BitWeb team {{ registeredUserName }}</div>
                <form autocomplete="off" @submit.prevent="register" method="post">
                    <div class="form-check" v-bind:class="{ 'has-error': has_error && errors.name }">
                        <input type="checkbox" id="ifCompany" class="form-check-input"
                               v-model="company">
                        <label class="form-check-label" for="name">Company/Person</label>
                    </div>
                    <div class="form-group" v-if="company">
                        <label for="companyName">Company</label>
                        <b-form-input type="text" id="companyName" class="form-control" placeholder="Bitweb"
                                      v-model="userData.companyName"></b-form-input>
                    </div>
                    <div class="form-group" v-if="company"
                         v-bind:class="{ 'has-error': has_error && errors.companyNumber }">
                        <label for="companyNumber">Company Registry Number</label>
                        <b-form-input type="number" id="companyNumber" class="form-control" placeholder="53253252352"
                                      v-model="userData.companyNumber"></b-form-input>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.name }">
                        <label for="name">Name</label>
                        <b-form-input type="text" id="name" class="form-control" placeholder="Karl"
                                      v-model="userData.name"></b-form-input>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.age }">
                        <label for="age">Age : {{ userData.age }}</label>
                        <b-form-input type="range" id="age" v-model="userData.age" min="18"
                                      placeholder="18"
                                      max="100"></b-form-input>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.email }">
                        <label for="email">E-mail</label>
                        <b-form-input type="email" id="email" class="form-control" placeholder="user@example.com"
                                      v-model="userData.email"></b-form-input>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.password }">
                        <label for="password">Password</label>
                        <b-form-input type="password" id="password" class="form-control"
                                      v-model="userData.password"></b-form-input>
                    </div>
                    <button type="submit" class="bg-primary text-white btn btn-default">Submit</button>
                </form>

            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            userData: {
                name: '',
                email: '',
                password: '',
                companyName: '',
                companyNumber: '',
                age: 18,
            },
            has_error: false,
            success: false,
            company: false,
        }
    }, methods: {
        register() {
            var app = this
            this.$http({
                url: `register`,
                method: 'POST',
                data: {
                    email: app.userData.email,
                    name: app.userData.name,
                    companyName: app.userData.companyName,
                    companyNumber: app.userData.companyNumber,
                    age: app.userData.age,
                    password: app.userData.password,
                }
            }).then(() => {
                app.success = true
                this.$store.commit("addData", this.userData)
            }, () => {
                app.has_error = true
            })

        }
    },
    computed: {
        registeredUserName() {
            return this.$store.state.userData.name
        },
    },
}
</script>
