<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-body">
                <div>
                    <h3>List of users</h3>
                    <div class="alert alert-danger" v-if="has_error">
                        <p>Error displaying users list.</p>
                    </div>
                    <b-table head-variant="dark" hover bordered responsive aria-sort="ascending" :items="users" :fields="fields"></b-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            fields: [
                {
                    key: 'id',
                    label: 'ID',
                    sortable: true
                },
                {
                    key: 'name',
                    label: 'Name',
                    sortable: true
                },
                {
                    key: 'age',
                    label: 'Age',
                    sortable: true
                },
                {
                    key: 'companyName',
                    label: 'Company Name',
                    sortable: true
                },
                {
                    key: 'companyNumber',
                    label: 'Company Reg Number',
                    sortable: true
                },
                {
                    key: 'email',
                    label: 'Email',
                    sortable: true,
                }
            ],
            has_error: false,
            users: null
        }
    }, mounted() {
        this.getUsers()
    }, methods: {
        getUsers() {
            this.$http({
                url: `users`,
                method: 'GET'
            })
                .then((res) => {
                    this.users = res.data.users
                    console.log(this.users);
                }, () => {
                    this.has_error = true
                })
        }
    }
}
</script>

